*.code-workspace
infra/*.out.json
node_modules
.DS_Store
backend/backend-config.json

frontend/server.cert
frontend/server.key

backend/src/backend-config.json
infra/current-stack.json
app-override.json
