
.navbar-item.navbar__logo {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 800;
    color: #d62d20;
 }

 .main {
     padding-top: 2rem;
 }

 /* Hack because container is-fluid doesn't work */
 @media only screen and (max-width: 1084px) {
    .main {
        margin-left: 32px;
        margin-right: 32px;
    }
    nav {
        padding-left: 32px;
        padding-right: 32px;
    }
  }

 .message__person_tag {
     color: #F66;
     font-weight: 600;
 }

 html {
     height: 100%;
     background-color: #fdfdfd;
 }

.message__button {
    color:#666;
}

.circle-text {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    background: hsl(48, 100%, 67%);
  }